.cardo {
  font-family: "Cardo", serif;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/segoeuithis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI", sans-serif;
  overflow: hidden;
}

/* Scrollbar hidden but scrolling still works */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
