.cardo {
  font-family: "Cardo", serif;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/segoeuithis.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Segoe UI", sans-serif;
}
